@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}

@variant dark (&:where(.dark, .dark *));

body {
    @apply bg-gray-100 text-black transition-colors;
    font-family: 'Poppins', sans-serif;
}

.dark body {
    @apply bg-zinc-900 text-white;
}

.dark .set-dark {
    @apply bg-zinc-800 text-white hover:bg-zinc-700;
}

.dark .card {
    @apply bg-zinc-800 text-white;
}

.dark .card p {
    @apply text-gray-300;
}